<b>ТОВ "Вайс Едвайс"</b>
<br/>
<br/>
<table cellpadding="0" cellspacing="0" >
  <tr valign="top" >
    <td style="width:80px;">Телефон</td>
    <td>
      +38 044 362 80 72<br/>
      +38 063 227 59 08
    </td>
  </tr>
  <tr>
    <td>Пошта</td>
    <td>tovarid.com@gmail.com</td>
  </tr>
  <tr>
    <td>Адреса</td>
    <td>м. Київ, п-т Ватутіна 14а, к 30</td>
  </tr>
</table>



