<div style="width:300px;text-align:justify;">&emsp;&emsp;Сервіс <span style="font-size:12pt;">Tovar<span style="color:red;">ID</span></span> створено для максимально точної ідентифікації товарів виробників і уникнення їх підробок.<br/>&emsp; Покупці зможуть відрізняти дійсний товар від підробного за допомогою мобільного телефону та 
  <%= link_to 'спеціального програмного забезпечення', @download_link, :style => "text-decoration:underline;" %>
  .
</div>
<div style="width:425px" id="__ss_5888894">
  <strong style="display:block;margin:12px 0 4px">
    <a href="http://www.slideshare.net/WiseAdviceLtd/tovaridcom" title="TovarID.com">TovarID.com</a>
</strong>
<object id="__sse5888894" width="425" height="355">
  <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=random-101124084409-phpapp01&rel=0&stripped_title=tovaridcom&userName=WiseAdviceLtd" />
  <param name="allowFullScreen" value="true"/>
  <param name="allowScriptAccess" value="always"/>
  <embed name="__sse5888894" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=random-101124084409-phpapp01&rel=0&stripped_title=tovaridcom&userName=WiseAdviceLtd" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object>

